/* ============================== geral ================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --gray: #a1a1aa;
  --bg-card: #2a2634;
  --bg: #121214;

  font-size: 62.5%; /* 10px = 1rem */
}

body {
  height: 100vh;

  background-image: url('./assets/background.png');
  background-color: var(--bg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  color: var(--white);

  font-family: 'Inter', sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin-top: 3.2rem;

  width: 100%;
}

ul {
  list-style: none;
}

img {
  transition: all 150ms;
}

img:hover {
  transform: scale(1.1);
}

a {
  text-decoration: none;
}

/* ============================== header ================================== */
header {
  margin-bottom: 3.2rem;
}

header .avatar {
  width: 12rem;

  background: linear-gradient(white, white) padding-box,
    linear-gradient(90deg, #9572fc 0%, #43e7ad 50.52%, #e2d45c 100%) border-box;
  border: 4px solid transparent;
  border-radius: 6rem;
}

/* ============================== cards ================================== */
.cards h1 {
  font-weight: 900;
  font-size: 2.4rem;

  margin-bottom: 0.8rem;
}

.cards p {
  color: var(--gray);
  font-size: 1.6rem;

  margin-bottom: 2.4rem;
}

.cards .items ul {
  display: flex;
  gap: 1.6rem;
}

.games,
.streamers,
.social {
  background: var(--bg-card);

  padding: 3.2rem;
  margin-bottom: 2.4rem;

  background: linear-gradient(#2a2634, #2a2634) padding-box,
    linear-gradient(90deg, #9572fc 0%, #43e7ad 50.52%, #e2d45c 100%) border-box;
  border-top: 4px solid transparent;
  border-radius: 2rem 2rem 0.8rem 0.8rem;
}

/* ============================== footer ================================== */
footer {
  background: -webkit-linear-gradient(
    left,
    #9572fc 0%,
    #43e7ad 50.52%,
    #e2d45c 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  margin-top: 0.8rem;
}

/* ============================== responsividade ================================== */

@media (min-width: 1024px) {
  .cards {
    width: 45%;
  }
}
